<nav class="main-header navbar navbar-expand-md navbar-light navbar-white">
    <div class="container">
      <a href="" class="navbar-brand">
        <img src="/static/dist/img/logo-mini.png" alt="Chingo logo" class="brand-image " style="opacity: .8">
      </a>
      <button class="navbar-toggler order-1" type="button" data-toggle="collapse" data-target="#navbarCollapse"
        aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse order-3" id="navbarCollapse">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a href="" class="nav-link">
                Home
            </a>
          </li>
        </ul>
        <form method="get" action="" class="form-inline ml-0 ml-md-3">
          <div class="input-group input-group-sm">
            <input name="keyword" type="text" class="form-control" placeholder="Search">
          </div>
        </form>
      </div>
    </div>
  </nav>