{% extends "base_generic.html" %}
{% load i18n %}
{% load static %}


  {% block body %}
  <body class="hold-transition login-page">
    <div class="login-box">
      
      <div class="card card-outline card-info">
        <div class="card-header text-center">
          <a href="{% url 'chingo:index' %}" class="h1"><img src="{% static 'dist/img/logo-mini.png' %}" alt="Logo"
              class="brand-image " style="opacity: .8; height: 50px !important;"></a>
        </div>
        <div class="card-body">

          <form class="form" action="" role="form" method="POST">
            <p class="login-box-msg">Update your password</p>
  
            <input type="hidden" name="csrfmiddlewaretoken" value="88xb6drclfwfpMvHVHLzawfPaNnlfxoUTqwtoHzODuZlZe8tV29d2LlmBUXcB5b7">
            <div class="form-group">
              <label for="id_old_password">Old password:</label>
              <input type="password" class="form-control" name="old_password" autocomplete="current-password" autofocus="" required="" id="id_old_password">
              </div>
              <div class="form-group">
                <label for="id_new_password1">New password:</label>
                <input type="password" class="form-control" name="new_password1" autocomplete="new-password" required="" id="id_new_password1">
              </div>
          <br>
            <ul class="list-unstyled">
              <li>{% translate "Your password can’t be too similar to your other personal information." %}</li>
              <li>{% translate "Your password must contain at least 8 characters." %}</li>
              <li>{% translate "Your password can’t be a commonly used password." %}</li>
              <li>{% translate "Your password can’t be entirely numeric." %}</li>
            </ul>
          <div class="form-group">
            <label for="new_password2">New password:</label>
            <input type="password" class="form-control" name="new_password2" autocomplete="new-password" required="" id="id_new_password2">
          </div>
            <div class="row">
              <div class="col-12">
                <button type="submit" class="btn btn-info btn-block">Change password</button>
              </div>
            </div>
            </form>
        </div>

      </div>

    </div>


    <script src="../../plugins/jquery/jquery.min.js"></script>

    <script src="../../plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    
  </body>
  {% endblock %}