{% load i18n %}
{% load static %}
<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}
<html lang="{{ LANGUAGE_CODE }}">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Chingo</title>
  <link rel="icon" href="{%static 'dist/img/fav.png' %}" type="image/x-icon">
  <!-- Google Font: Source Sans Pro -->
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
  <!-- Theme style -->
  <link rel="stylesheet" href="{%static 'dist/css/adminlte.css'%}">
  <!-- Toastr -->
  <link rel="stylesheet" href="{%static 'plugins/toastr/toastr.min.css'%}">
  {% block styles %}
  {% endblock %}
</head>
{% block body %}

<body class="hold-transition layout-top-nav">
  <div class="wrapper">
    {% block header %}
    {% include "header.html" %}
    {% endblock %}
    <div class="content-wrapper">
      <div class="content-header">
        <div class="container">
          <div class="row mb-2">
            <div class="col-sm-6">
              <h1 class="m-0">
                {% block title %}
                {% endblock %}
                <small>
                  {% block subtitle %}
                  {% endblock %}
                </small>
              </h1>
            </div>
          </div>
        </div>
      </div>
      <div class="content">
        <div class="container">
          {% block content %}
          {% endblock %}
          <div class="row" style="height: 200px;"></div>
        </div>
      </div>
    </div>
    {% block footer %}
    <footer class="main-footer">
      <strong>Chingo</strong>
    </footer>
    {% endblock %}
  </div>
  <!-- jQuery -->
  <script src="{% static 'plugins/jquery/jquery.min.js' %}"></script>
  <!-- Bootstrap 4 -->
  <script src="{% static 'plugins/bootstrap/js/bootstrap.bundle.min.js'%}"></script>
  <!-- Toastr -->
  <script src="{% static 'plugins/toastr/toastr.min.js'%}"></script>
  <!-- Page specific script -->
  {% block scripts %}
  {% endblock %}
</body>
{% endblock %}

</html>