{% load i18n %}
{% load static %}

<nav class="main-header navbar navbar-expand-md navbar-light navbar-white">
    <div class="container">
        <a href="{% url 'chingo:index' %}" class="navbar-brand">
            <img src="{% static 'dist/img/logo-mini.png' %}" alt="Chingo logo" class="brand-image " style="opacity: .8">
        </a>
        <button class="navbar-toggler order-1" type="button" data-toggle="collapse" data-target="#navbarCollapse"
            aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse order-3" id="navbarCollapse">

            <ul class="navbar-nav">
                <li class="nav-item">
                    <a href="{% url 'chingo:index' %}" class="nav-link">
                        {% translate "Home" %}
                    </a>
                </li>
                {% if user.is_authenticated %}
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <p data-toggle="modal" data-target="#create-list">
                            {% translate "New list" %}
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="" class="nav-link">
                        {% translate "Practice" %}
                    </a>
                </li>
                <li class="nav-item">
                    <form method="get" action="{% url 'admin:logout' %}">
                    <input type="hidden" name="next" value="{{ request.path }}"/>
                    <a onclick="this.parentNode.submit();" class="nav-link">
                        {% translate "Logout" %}
                    </a></form>
                </li>
                {% else %}
                <li class="nav-item">
                    <form method="get" action="{% url 'admin:login' %}">
                    <input type="hidden" name="next" value="{{ request.path }}"/>
                    <a onclick="this.parentNode.submit();" class="nav-link">
                        {% translate "Login" %}
                    </a></form>
                </li>
                {% endif %}
            </ul>
            <form method="get" action="{% url 'chingo:search' %}" class="form-inline ml-0 ml-md-3">
                <div class="input-group input-group-sm">
                    
                    <input name="keyword" type="text" class="form-control" placeholder="{% translate 'Search' %}">
                    
                    </div>
                
            </form>
        </div>
    </div>
</nav>
{% if user.is_authenticated %}
<!-- Modal -->
<div class="modal fade hide" id="create-list" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <form method="post" action="{% url 'chingo:list_add' %}">{% csrf_token %}
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">{% translate 'Create list' %}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12 col-lg-12 col-xl-12">
                            <div class="form-group row">
                                <div class="col-sm-12">
                                    <input type="text" class="form-control" name="name"
                                        placeholder="{% translate 'name' %}" value="{{ list_form.name.value }}">
                                </div>
                                {{ list_form.name.errors }}
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-12">
                                    <textarea class="form-control" rows="3" name="description"
                                        placeholder="{% translate 'description' %}">{{ list_form.description.value }}</textarea>
                                </div>
                                {{ list_form.description.errors }}
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-12">
                                    <textarea class="form-control" rows="2" name="image"
                                        placeholder="{% translate 'image url' %}">{{ list_form.image.value }}</textarea>
                                </div>
                                {{ list_form.image.errors }}
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-12"><button type="submit" class="btn btn-info float-right">
                                {% translate 'Create new list' %}
                            </button></div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

{% endif %} 