{% extends "base_generic.html" %}
{% load i18n %}
{% load static %}


  {% block body %}
  <body class="hold-transition login-page">
    <div class="login-box">

      <div class="card card-outline card-info">
        <div class="card-header text-center">
          <a href="{% url 'chingo:index' %}" class="h1"><img src="{% static 'dist/img/logo-mini.png' %}" alt="Logo"
              class="brand-image " style="opacity: .8; height: 50px !important;"></a>
        </div>
        <div class="card-body">
          <form class="form" action="" role="form" method="POST">
          <p class="login-box-msg">{% translate 'Sign in to start your session' %}</p>

          {% csrf_token %}
          <input type="hidden" name="next" value="{{ request.GET.next }}">
          <div class="input-group mb-3">
            <input type="text" class="form-control" name="username" placeholder="{% translate 'username' %}">
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-envelope"></span>
              </div>
            </div>
          </div>
          <div class="input-group mb-3">
            <input type="password" class="form-control" name="password" placeholder="{% translate 'password' %}">
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-lock"></span>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-8">

            </div>

            <div class="col-4">
              <button type="submit" class="btn btn-info btn-block">{% translate 'Login' %}</button>
            </div>

          </div>
          </form>

          <p class="mb-1">
            <a href="forgot-password.html">I forgot my password</a>
          </p>
          <p class="mb-0">
            <a href="register.html" class="text-center">Register a new membership</a>
          </p>
        </div>

      </div>

    </div>


    <script src="../../plugins/jquery/jquery.min.js"></script>

    <script src="../../plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    
  </body>
  {% endblock %}