{% extends "base_generic.html" %}
{% load i18n %}
{% load static %}

{% block content %}
{% if user.is_authenticated %}
<!-- User rank widget -->
<div class="row">
  <div class="col-md-12">
    <div class="card card-widget widget-user shadow">
      <div class="widget-user-header bg-info">
        <h3 class="widget-user-username">{{ user.username }}</h3>
        <h5 class="widget-user-desc">{{ user.rank }}</h5>
        <h5 class="widget-user-username">{{ user.stars }} ⭐</h5>
      </div>
      <div class="widget-user-image">
      </div>
      <div class="card-footer">
        <div class="row">
          <div class="col-sm-4 border-right">
            <div class="description-block">
              <h5 class="description-header">{{ user.words_included }}</h5>
              <span class="description-text">{% translate "words included" %}</span>
            </div>
          </div>
          <div class="col-sm-4 border-right">
            <div class="description-block">
              <h5 class="description-header">{{ user.lists_created }}</h5>
              <span class="description-text">{% translate "lists created" %}</span>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="description-block">
              <h5 class="description-header">{{ user.tests_passed }}</h5>
              <span class="description-text">{% translate "tests passed" %}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endif %}
<!-- Latests lists widget -->
<div class="container-fluid">
  <div class="row mb-2">
    <div class="col-sm-12">
      <h2>{% translate "Latest lists of words" %}</h2>
    </div>
  </div>
  <div class="row">
    {% for list in lists %}
    <div class="col-md-12 col-lg-6 col-xl-4">
      <div class="card mb-2 bg-gradient-dark">
        <img class="card-img-top" src="{{ list.image }}" alt="Image not found" onerror="this.src='{% static 'dist/img/logo-mini.png' %}';" style="filter:brightness(70%)">
        <div class="card-img-overlay d-flex flex-column justify-content-end">
          <h5 class="card-title text-primary text-white"><a href="{% url 'chingo:list' list_id=list.id %}"
              class="text-white">{{ list.name }}</a></h5>
          <p class="card-text text-white pb-2 pt-1"><a href="{% url 'chingo:list' list_id=list.id %}"
              class="text-white">{{ list.description }}</a></p>
          <a href="{% url 'chingo:list' list_id=list.id %}" class="text-white">{{ list.owner.username }}.
            {{ list.creation_date }}</a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}