{% extends "base_generic.html" %}
{% load i18n %}
{% load static %}

{% block meta %}
<meta property="og:title" content="{{ list.name }}" />
<meta property="og:description" content="{{ list.description }}" />
<meta property="og:type" content="website" />
<meta property="og:image" content="{{ list.image }}" />
<meta property="og:site_name" content="Chingo" />
{% endblock %}

{% block content %}
{% if user.is_authenticated %}

<!-- edit list modal -->
{% include "chingo/components/edit_wordlist_modal.html" %}

<!-- add word modal -->
{% include "chingo/components/add_word_modal.html" %}

<!-- edit word modal -->
{% include "chingo/components/edit_word_modal.html" %}

{% endif %}
<!-- Game config modal -->
{% include "chingo/components/game_config_modal.html" %}

<!-- Stroke modal -->
{% include "chingo/components/stroke_modal.html" %}

<!-- Description widget -->
<div class="row">
  <div class="col-md-12 col-lg-6 col-xl-4">
    <div class="card mb-2">
      <img class="card-img-top" src="{{ list.image }}" alt="Image not found" onerror="this.src='{% static 'dist/img/logo-mini.png' %}';" >
    </div>
  </div>
  <div class="col-md-12 col-lg-6 col-xl-8">
    <div class=" mb-2">
      <h3>{{ list.name }}</h3>
      <p class="card-text pb-1 pt-1">
        {{ list.description }} </p>
        <p class="card-text pb-1 pt-1">
          {{ list.words.count }} {% translate 'words' %}. {{ list.owner.username }}. {{ list.creation_date }}</p>
      <p></p>
      <div class="row">
        <div class="col-md-12 col-lg-6 col-xl-4" style="padding:7.5px !important;">
          
          <button type="submit" class="btn btn-info btn-block btn-flat" data-toggle="modal"
          data-target="#game_config">
              {% translate "Practice with this list" %}</button>

        </div>
        {% if user.is_authenticated %}
        <div class="col-md-12 col-lg-6 col-xl-4" style="padding:7.5px !important;">
          <button type="button" class="btn btn-info btn-block btn-flat" data-toggle="modal"
            data-target="#edit-description">{% translate "Edit description" %}</button>
        </div>
        {% endif %}
        <div class="col-md-12 col-lg-6 col-xl-4" style="padding:7.5px !important;">
          <button type="button" class="btn btn-info btn-block btn-flat" data-toggle="modal"
            data-target="#stroke">{% translate "Write" %}</button>
        </div>
      </div>
    </div>
  </div>
</div>
<p></p>
<!-- List widget -->
<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-header card-info">
        <h3 class="card-title">{% translate "Words in this list" %}</h3>
        <div class="card-tools">
          <div class="input-group">
            <div class="input-group-append">
              {% if user.is_authenticated %}
              <button type="button" class="btn btn-info btn-block btn-flat" data-toggle="modal"
                data-target="#add-word">{% translate "Add word" %}</button>
                {% endif %}
            </div>
          </div>
        </div>
      </div>
      <div class="card-body table-responsive p-0" style="height: 300px;">
        <table class="table table-head-fixed text-nowrap">
          <thead>
            <tr>
              <th>{% translate "simplified" %}</th>
              <th>{% translate "traditional" %}</th>
              <th>{% translate "pinyin" %}</th>
              <th>{% translate "part of speech" %}</th>
              <th>{% translate "clas." %}</th>
              <th>{% translate "translation" %}</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            {% for word in list.words.all %}
            <tr onclick="new Audio('{% url 'chingo:sing' word_id=word.id %}').play()">
              <td onclick="write_hanzi_strokes(this.textContent);">{{ word.simplified }}</td>
              <td onclick="write_hanzi_strokes(this.textContent);">{{ word.traditional }}</td>
              <td>{{ word.pinyin }}</td>
              <td>{% translate word.get_part_of_speech_display %}</td>
              <td>{{ word.classifier }}</td>
              <td>{{ word.translation }}</td>
              <td>
                {% if user.is_authenticated %}
                
                  <form method="post" action="{% url 'chingo:word_remove' list_id=list.id word_id=word.id%}">
                    {% csrf_token %}
                    <button type="button" class="btn btn-tool" data-dismiss="modal" aria-label="Close"
                      onclick="populate_fields(this);" simplified="{{ word.simplified }}"
                      traditional="{{ word.traditional }}" pinyin="{{ word.pinyin }}"
                      part_of_speech="{{ word.part_of_speech }}" classifiers="{{ word.classifier }}"
                      translation="{{ word.translation }}" word_id="{{ word.id }}">
                      {% translate "Edit" %}
                    </button>
                    
                    <a onclick="this.parentNode.submit();" class="btn btn-tool">
                      {% translate "Remove" %}
                    </a>
                  </form>
                
                {% endif %}
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
{% if list_edit_form %}
<script>$('#edit-description').modal('show'); </script>
{% endif %}
{% if word_add_form %}
<script>$('#add-word').modal('show'); </script>
{% endif %}
{% if word_edit_form %}
<script>$('#edit-word').modal('show'); </script>
{% endif %}
<script src="{% static 'dist/js/list.js'%}"></script>
{% endblock %}