{% extends "base_generic.html" %}
{% load i18n %}
{% block title %}

{% endblock %}

{% block content %}

<div class="row">
  <div class="col-md-6">
    <div class="card card-widget widget-user">
      <div class="widget-user-header bg-info">
        <h1 class="widget-user-username"><br></h1>
        <h1 class="widget-user-desc">{{ question.label }}</h1>
      </div>
      <div class="card-footer">
        {% for answer in question.answers %}
        <form action="{% url 'chingo:test_check' %}" method="post">
          {% csrf_token %}
          <input type="hidden" name="question_id" id="edit_id" value="{{ question.word.id }}">
          <input type="hidden" name="answer_id" id="edit_id" value="{{ answer.word.id }}">
          <a type="button" class="btn btn-outline-info btn-block btn-flat" onclick="this.parentNode.submit();"><h3>{{ answer.label }}</h3></a>
        </form>
        {% endfor %}
      </div>
    </div>
  </div>
 
  <div class="col-md-6"> 
    {% if user.is_authenticated %}
    {% if score %}
    <div class="card card-widget">
      <div class="card-footer">
        <h5>{% translate "Your statistics" %}</h5>
        <div class="row">
          <div class="col-sm-4 border-right">
            <div class="description-block">
              <h5 class="description-header">{{ score.wrong }}</h5>
              <span class="description-text">{% translate "number of times wrong" %}</span>
            </div>
          </div>
          <div class="col-sm-4 border-right">
            <div class="description-block">
              <h5 class="description-header">{{ score.shown }}</h5>
              <span class="description-text">{% translate "number of times shown" %}</span>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="description-block">
              <h5 class="description-header">{{ score.correct }}</h5>
              <span class="description-text">{% translate "number of times correct" %}</span>
            </div>
          </div>
        </div>
      </div>
    </div>  
    {% else %}
    <div class="card card-widget">
      <div class="card-footer">
        <h5>{% translate "Your statistics" %}</h5>
        <div class="row">
          <p>{% translate "No data yet" %}</p>
        </div>
      </div>
    </div>
    {% endif %}
    {% else %}
    <div class="card card-widget">
      <div class="card-footer">
        <h5>{% translate "Your statistics" %}</h5>
        <div class="row">
          <p>{% translate "Log in to see your data" %}</p>
        </div>
      </div>
    </div>
    {% endif %}
  </div>
  
</div>
{% endblock %}