{% load i18n %}
{% load static %}

<div class="modal fade" id="add-word" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">
          {% translate "Add word" %}
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form method="post" id="new-word-form" action="{% url 'chingo:word_add' list_id=list.id %}">
          {% csrf_token %}
          <div class="row">
            <div class="col-md-12 col-lg-6 col-xl-6">
              <div class="form-group row">
                <div class="col-sm-12">
                  <input type="text" class="form-control" name="simplified" id="add_simplified"
                    oninput="suggest_words()" placeholder="{% translate 'simplified word' %}">
                  {{ word_add_form.simplified.errors }}
                </div>
              </div>
              <div class="form-group row">
                <div class="col-sm-12">
                  <input type="text" class="form-control" name="pinyin" id="add_pinyin" oninput="suggest_words()"
                    placeholder="{% translate 'pinyin' %}">
                  {{ word_add_form.pinyin.errors }}
                </div>
              </div>
              <div class="form-group row">
                <div class="col-sm-12">
                  <select class="form-control" name="part_of_speech" onchange="suggest_words()">
                    {% for part_of_speech in parts_of_speech %}
                    <option value="{{ part_of_speech.0 }}">
                      {% translate part_of_speech.1 %}
                    </option>
                    {% endfor %}
                  </select>
                </div>
              </div>
            </div>
            <div class="col-md-12 col-lg-6 col-xl-6">
              <div class="form-group row">
                <div class="col-sm-12">
                  <input type="text" class="form-control" name="traditional" id="add_traditional"
                    oninput="suggest_words()" placeholder="{% translate 'traditional word' %}">
                  {{ word_add_form.traditional.errors }}
                </div>
              </div>
              <div class="form-group row">
                <div class="col-sm-12">
                  <input type="text" class="form-control" name="translation" id="add_translation"
                    oninput="suggest_words()" placeholder="{% translate 'translation' %}">
                  {{ word_add_form.translation.errors }}
                </div>
              </div>
              <div class="form-group row">
                <div class="col-sm-12">
                  <input type="text" class="form-control" name="classifier" id="add_classifiers"
                    oninput="suggest_words()" placeholder="{% translate 'classifiers' %}">
                  {{ word_add_form.classifier.errors }}
                </div>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-sm-12">
              <button type="submit" class="btn btn-info float-right">
                {% translate "Add new word" %}
              </button>
            </div>
          </div>
        </form>
        <p></p>
      </div>
      <div class="table-responsive p-0" id="suggestions" style="height: 200px;">
        <form method="post">
          {% csrf_token %}
          <table class="table table-head-fixed text-nowrap">
            <thead>
              <tr>
                <th>{% translate "add a word from the database" %}</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
            </tbody>
          </table>
        </form>
      </div>
    </div>
  </div>
</div>
<script src="{% static 'dist/js/add_word_modal.js'%}"></script>